@*
    Partial that holds the footer - custom css can be found in footer.scss
*@
@using Deepcove_Trust_Website.Features.RazorRender
@inject WebSettingsService Settings

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>@Settings.GetQuickLinks().A.Title</h3>
                    <ul>
                        @foreach (var page in Settings.GetQuickLinks().A.Pages)
                        {

                            <li>
                                <a href="@string.Format("/{0}", page.AbsoluteUrl)">@string.Format("{0}", page.Name)</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>@Settings.GetQuickLinks().B.Title</h3>
                    <ul>
                        @foreach (var page in Settings.GetQuickLinks().B.Pages)
                        {
                            <li>
                                <a href="@string.Format("/{0}", page.AbsoluteUrl)">@string.Format("{0}", page.Name)</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Deep Cove Outdoor Education Trust</h3>
                    @if (!string.IsNullOrEmpty(Settings.MissionStatment))
                    {
                        <p>
                            @Settings.MissionStatment
                        </p>
                    }
                </div>
                <!-- Social Icons -->
                <div class="col item social">
                    @if (!string.IsNullOrEmpty(Settings.FacebookUrl))
                    {
                        <!-- Facebook -->
                        <a href="@Settings.FacebookUrl">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    }

                    @if (!string.IsNullOrEmpty(Settings.GooglePlayUrl))
                    {
                        <a href="@Settings.GooglePlayUrl">
                            <i class="fab fa-google-play"></i>
                        </a>
                    }

                    @if (!string.IsNullOrEmpty(Settings.Email))
                    {
                        <!-- Email -->
                        <a href="@string.Format("mailto:{0}", @Settings.Email)">
                            <i class="fas fa-envelope"></i>
                        </a>
                    }

                    @if (!string.IsNullOrEmpty(Settings.PhoneNumber))
                    {
                        <!-- Phone -->
                        <a href="@string.Format("tel:{0}", Settings.PhoneNumber)">
                            <i class="fas fa-phone"></i>
                        </a>
                    }
                </div><!-- End Socials -->
            </div>
            <p class="copyright">Deep Cove Outdoor Education Trust © 2019</p>
            <p class="developed">
                Website developed by <a href="https://samuelgrant.dev">Samuel Grant</a>, Mitchell Quarrie &amp; Samuel Jackson
            </p>
            <environment exclude="production">
                <div class="text-center font-weight-bolder pt-4">
                    <a href="/login">Login</a>
                </div>
            </environment>
        </div>
    </footer>
</div>