@*
    Partial that generates the navbars for the main/education website
*@
@using Deepcove_Trust_Website.Features.RazorRender
@inject NavbarService Nav

@{ 
    var section = Nav.WebsiteSection;
    List<NavItem> navItems = Nav.GetNavItemsBySection(section);
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="~/images/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-shrink-1">
                <!-- Once the trust is happy with their education portal, remove this link. . . -->
                <!-- Contact Samuel Grant -->
                <li role="presentation" class="nav-item">
                    <a href="https://deepcoveeducation.co.nz" class="text-dark">Education Resources</a>
                </li>
                @foreach (var navItem in navItems)
                {
                    @if (navItem.NavItemPages.Count > 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link text-dark" aria-expanded="false" data-toggle="dropdown"  href="#">@(navItem.Text ?? "Dropdown")</a>
                            <div class="dropdown-menu" role="menu">
                                @foreach (var link in navItem.NavItemPages)
                                {
                                    if (link.Page.Public || User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" role="presentation" href="@link.Page.AbsoluteUrl">@link.Page.Name</a>
                                    }
                                }
                            </div>
                        </li> 
                    }
                    else if(navItem.Page.Public || User.Identity.IsAuthenticated)
                    {
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-dark" href="@navItem.Page.AbsoluteUrl">@(navItem.Text ?? navItem.Page.Name)</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
