@*
    Partial that generates the navbars for the main/education website
*@
@using Deepcove_Trust_Website.Features.RazorRender
@inject NavbarService Nav

@{
    string action = ViewContext?.RouteData?.Values["action"]?.ToString();
    List<NavItem> navItems = new List<NavItem>();
    if(!string.IsNullOrEmpty(action))
    {
        var section = Nav.GetWebsiteSection(action: action);
        navItems = Nav.GetNavItemsBySection(section);
    }
}

<nav id="sitenav" class="navbar navbar-light navbar-expand-md sticky-top">
    <div class="container-fluid">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/">
            <img src="~/images/logo.png" alt="Logo">
        </a>

        <!-- Navbar Toggle -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#sitenav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="sitenav-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <!-- Start Links -->
                @foreach (var navItem in navItems)
                {
                    @if (navItem.NavItemPages.Count > 0)
                    {
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link"> @(navItem.Text ?? "Dropdown")</a>
                            <div role="menu" class="dropdown-menu">
                                @foreach (var link in navItem.NavItemPages)
                                {
                                    if (link.Page == null || link.Page.Public || User.Identity.IsAuthenticated)
                                    {
                                        <a role="presentation" class="dropdown-item" href="@(link.Url ?? link.Page.AbsoluteUrl)">@(link.Text ?? link.Page.Name)</a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    else if (navItem.Page == null || navItem.Page.Public || User.Identity.IsAuthenticated)
                    {
                        if (navItem.Page == null && navItem.Url == null) { }
                        else
                        {
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="@(navItem.Url ?? navItem.Page.AbsoluteUrl)">@(navItem.Text ?? navItem.Page.Name)</a>
                            </li>
                        }
                    }
                }
                <!-- End Links -->
            </ul>
        </div>
    </div>
</nav>