
@using System.Runtime.InteropServices;
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";

    DateTime NzTime()
    {
        TimeZoneInfo NZST;
        if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
        {
            NZST = TimeZoneInfo.FindSystemTimeZoneById("New Zealand Standard Time");
        }
        else
        {
            NZST = TimeZoneInfo.FindSystemTimeZoneById("Pacific/Auckland");
        }


        return TimeZoneInfo.ConvertTimeFromUtc(Model.SentAt, NZST);
    }
}
@model Deepcove_Trust_Website.Views.Emails.Models.EmailRecieved

<p style="margin-bottom: 20px;">Email Submission Recieved at @NzTime() NZST</p>

<hr />

<p style="font-size: 16px; font-weight: bold;">@Model.Subject</p>
<p>@Model.Message</p>

<hr />

<p style="font-weight: bold;">
    Senders Information: &nbsp;

    @if (!String.IsNullOrEmpty(Model.SendersOrg))
    {
        <span style="font-weight: normal;">Sent on behalf of: @Model.SendersOrg</span>
    }
</p>

<table border="0" width="600px" style="margin-top: 15px; margin-bottom:15px;">
    <tbody>
        <tr style="text-align: center;">
            <td width="33%">
                <p style="font-weight: bold;">Name:</p>
                @(Model.SendersName ?? "")
            </td>
            <td width="33%">
                <p style="font-weight: bold;">Email:</p>
                <a href="@($"mailto:{Model.SendersEmail}")">@(Model.SendersEmail ?? "")</a>
            </td>
            <td width="33%">
                <p style="font-weight: bold;">Phone:</p>
                <a href="@($"tel:{Model.SendersPhone}")">@(Model.SendersPhone ?? "")</a>
            </td>
        </tr>
    </tbody>
</table>