
@{
    Layout = "~/Views/Emails/_EmailLayout.cshtml";

    DateTime NzTime()
    {
        TimeZoneInfo nzTimeZone = TimeZoneInfo.FindSystemTimeZoneById("New Zealand Standard Time");
        return TimeZoneInfo.ConvertTimeFromUtc(Model.SentAt, nzTimeZone);
    }
}
@model Deepcove_Trust_Website.Views.Emails.Models.EmailRecieved
 
<p style="font-weight: 400;">Email Submission Recieved &#64; @NzTime() NZST</p>

<p style="font-weight: 200;">Senders Information:</p>
<table>
    <tbody>
        <tr>
            <td>Name:</td>
            <td>Email:</td>
            <td>Phone:</td>
        </tr>
        <tr>
            <td>@Model.SendersName</td>
            <td>
                <a href="mailto:@Model.SendersEmail">@Model.SendersEmail</a>
            </td>
            <td>
                <a href="tel:@Model.SendersPhone">@Model.SendersPhone</a>
            </td>
        </tr>
    </tbody>
</table>

@if (!String.IsNullOrEmpty(Model.SendersOrg))
{
    <p>Sent on behalf of: @Model.SendersOrg</p>
}

<hr/>

<p style="font-size: 16px; font-weight: 300;">@Model.Subject</p>
<p>@Model.Message</p>